@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0c0203;
}

.Home {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f50057;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f50057;
}

@media screen and (max-width: 1024px) {
  #introShort {
    margin-top: 4.7rem;
  }
  #devImage {
    margin-top: 15rem;
    margin-left: 4rem;
    height: 70vh;
    width: 70vw;
  }
  #name {
    font-size: 3.8rem;
  }
  #infoShort {
    margin-top: 16rem;
    margin-left: 4rem;
  }
  #oss {
    margin-top: 2rem;
    margin-left: -7rem;
  }
  #ux {
    margin-left: -17rem;
    margin-top: 4.5rem;
  }
  #contact {
    margin-left: 33.33vw;
    margin-top: 85vh;
  }
  #footer {
    height: 10vh;
    position: absolute;
    margin-top: 100vh;
  }
  #footer-icons {
    margin-left: 35vw;
    margin-top: 1vh;
    margin-left: 0vw;
    width: 100vw;
  }
  #footer-text {
    font-size: 2vh;
    text-align: center;
    margin-left: 0vw;
  }
  #icon {
    margin-left: 33%;
  }
}
